<!DOCTYPE html>
<html ng-app="searchApp">
<head>
    <meta charset="UTF-8">
    <title>SearchForStackOverflow</title>

    <link rel="stylesheet" href="libs/bower_components/bootstrap-css-only/css/bootstrap.min.css">
</head>
<body>
<header>
    <h1 class="text-center">Search For StackOverflow</h1>
    <p class="text-center">тестовое задание</p>
</header>

<div class="container" ng-controller="SearchFormController">
    <form name="searchForm">
        <fieldset>
            <label for="searchInput">Input question:</label>
            <input type="text" id="searchInput" ng-model="search.input" class="form-control">
        </fieldset>
        <br>
        <input class="btn-block btn-lg btn btn-default" type="submit" ng-click="getResult(search, searchForm)" value="Search">
    </form>
</div>

<ng-view></ng-view>

<!-- scripts -->
<script src="libs/bower_components/angular/angular.min.js"></script>
<script src="libs/bower_components/angular-route/angular-route.min.js"></script>

<script src="app/app.js"></script>
<script src="app/controllers/SearchFormController.js"></script>
<script src="app/controllers/SearchResultController.js"></script>
<script src="app/controllers/AnswersController.js"></script>
</body>
</html>