<div class="container" ng-controller="SearchFormCtrl">
  <form action="http://api.stackexchange.com/docs/questions#order=desc&sort=activity&filter=default&site=stackoverflow" class="form-horizontal" name="search-form" id="search-form" ng-submit="save($element.action)">
    <div class="form-group">
      <input type="search" class="form-control" id="search-value" placeholder="Input Question..." ng-model="question">
    </div>
    <div class="form-group text-center">
      <button type="submit" class="btn btn-default">Search</button>
    </div>
  </form>
</div>