<div class="container">
  <h2  ng-bind-html="question.title">?</h2>
  <div class="question" ng-bind-html="question.body"></div>
  <p class="author">Автор: <strong>{{question.author}}</strong></p>

  <div class="content" ng-show="!loading">
    <h4>Ответы:</h4>

    <div class="answers-list">
      <div class="answer" ng-repeat="answer in question.answers">
        <div ng-bind-html="answer.body"></div>
        <p class="author">Автор: <strong>{{answer.owner.display_name}}</strong></p>
      </div>
    </div>
  </div>

  <div ng-show="loading" class="loading"><span>Загрузка...</span></div>
  <div class="error-msg text-center text-danger" ng-show="errorMessage">{{errorMessage}}</div>
</div>